:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --header-text: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
}



.theme-dark .header {
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}