:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --header-text: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .header {
  background-image: url('../images/cover-image-light.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme-light .header__decoration {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--header-text);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--header-text);
}

.theme-light .title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --header-text: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
  }

	
  .header {
    background-image: url('../images/cover-image-light.png');
  }
  .header__decoration {
    display: none;
  }
}