.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  padding: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__decoration {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-size: var(--font-size);
}

.header__decoration::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 32px; /* Добавляем отступ слева */
  margin-top: 35px; /* Добавляем отступ слева */
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 2px 13px;
  color: var(--accent-color);
  cursor: pointer;
  line-height: 1;
  text-align: center; /* Добавляем выравнивание по центру */
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: clamp(9rem, 6rem + 6vw, 15rem);
  font-weight: bold;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  margin-left: 0;
  max-width: none; /* Убираем ограничение по ширине */
  width: calc(100% - 40px); /* Растягиваем между уголками (20px слева + 20px справа) */
  justify-self: center; /* Центрируем */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  box-sizing: border-box;
}

.header__text {
  /*max-width: 50%;*/
  justify-self: end;
  font-weight: bold;
  align-self: end; /* Это опустит элемент вниз */
  margin-bottom: 66px; /* Теперь margin будет работать */
  margin-left: 10px;
  margin-right: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.main {
  padding: 40px 10px;
  display: grid;
  gap: 80px;
}

.concentration,
.solutions,
.focus,
.gallery {
  display: grid;
  gap: 45px;
}

.concentration__title,
.solutions__title,
.focus__title,
.gallery__title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: bold;
}

.concentration__title {

}

.gallery__title {
  color: var(--bg-color);
}

.concentration__content,
.solutions__content,
.focus__content {
  display: grid;
  gap: 20px;
}

.concentration__article-title,
.solutions__article-title,
.focus__method-title,
.focus__step-title {
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}




.footer {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(11rem, 10.5rem + 2vw, 12.5rem);
  font-weight: bold;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}



.focus__content {
  display: grid;
  gap: 0;
}

.focus__method {
  margin-bottom: 10px;
}

.focus__step-title {
  margin-bottom: 10px;
}

.focus__step-text {
  margin-bottom: 20px;
}

.focus__step-text:last-child {
  margin-bottom: 0;
}

.gallery__images {
  display: grid;
  gap: 20px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* Адаптивность для планшетов */
@media (min-width: 768px) {
  .concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .concentration__title {
    grid-column: 1;
  }

  .concentration__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .focus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .focus__title {
    grid-column: 1;
  }

  .focus__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .focus__method {
    margin-bottom: 10px;
  }
  
  .gallery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25% 35% 40%;
    gap: 20px;
    min-height: 60vh;
  }

  .gallery__image {
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
  
  .header__title,
  .footer__title {
    font-size: clamp(9rem, 6rem + 6vw, 15rem);
  }
  

}

/* Адаптивность для десктопа */
@media (min-width: 1024px) {
  .concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .concentration__title {
    grid-column: 1;
  }

  .concentration__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .solutions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .solutions__title {
    grid-column: 1;
  }

  .solutions__content {
    grid-column: 1;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .focus {
    grid-template-columns: 1fr 2fr;
  }
  
  .gallery {
    margin-left: -20px;
    margin-right: -20px;
  }

  .gallery__images {
    grid-template-rows: 25% 35% 40%;
    min-height: 80vh;
    height: auto;
  }

  .gallery__image {
    height: 100%;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
  

}